@page
@model IndexModel
@using WebApp.Models
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Return To Monke</h1>
    <p>I assume you are human. Is it really worth it?</p>
</div>


@* @foreach (User usr in Model.Users)
{
    <h2>@usr.Name</h2>
} *@
<ul class="monke-img-container">
@foreach (Monkey monke in Model.Monkeys)
{
    <li class="monke-img">
        <img src="@monke.ImageUrl" alt="@monke.Name" class="mh-100">
        <div class="monkey-name">@monke.Name</div>
    </li>
}
</ul>